/***
Hackathon Electoral
*/
.thumbnail{
	box-shadow: 1px 1px 10px #000;
}
img.presidente{
	height: 150px;
	display: block;
}
img.partido{
	height: 40px;
	position: relative;
	float: left;
	top: -40px;
	opacity: 0.6;
}

/*
	KEIKO
	1994: Es elegida Primera dama hasta el año 2000;

	2006: Es elegida congresista de la República  por Lima.



	|------------|-----------|
	2006		2008		   2010

	(-Si el sueldo de un parlamentario es de S/.15,600 mensuales y recibe 16 remuneraciones al año, la líder de la bancada fujimorista habría recibido –solo por concepto de sueldo– S/.998,400 en los cuatro periodos de labor parlamentaria.
	 - entre julio del 2006 y julio del 2010, viajó 18 veces al extranjero lo que ha representado 223 días fuera del país. Lo llamativo es que solo uno de esos viajes lo hizo en calidad de visita oficial a los Estados Unidos en julio de este año.
	 - 2008: Además de los plenos y sesiones de comisiones a las que no asistió durante los tres meses que estuvo fuera del país –entre enero y mayo de ese año–, Keiko Fujimori reporta 15 tardanzas a los plenos y tres inasistencias por licencias.
	         Según reportes de asistencia del Congreso, su ausencia figura como licencia de representación cuando, en realidad, lo que hacía era culminar su maestría en la Columbia University, estudios que habría costeado –lo más probable– con su sueldo de congresista de la República.)

	|-----------------------|
	2009				   2010

	(-durante el periodo legislativo 2009-2010 Keiko Fujimori solo asistió a siete sesiones de las 42 de la Comisión de Economía del Congreso, grupo de trabajo del cual es titular desde julio del 2006. Su participación fue casi nula, pues no presentó ningún proyecto de ley, solo suscribió uno de su colega de bancada Rolando Reátegui
	  - Entre abril y junio del 2009 –legislatura 2008-2009– realizó seis pedidos de licencia para ausentarse de siete sesiones de la Comisión de Economía.
	  - 2010: Asistió tarde a dieciséis plenos de los veintinueve que se realizaron entre los meses de marzo y julio mientras que en otros tres reporta licencia por viajes al extranjero.)
	  - La congresista presentó siete pedidos de licencia para no asistir a las sesiones de la Comisión de Economía.


	2010: Forma y lidera como presidenta el partido político Fuerza 2011 (hoy Fuerza Popular) con el cual postula a la Presidencia de la República en las elecciones generales del 2011.


	16 de marzo: JEE de Huancayo excluye a Vladimiro Huaroc como candidato al Congreso por entregar víveres a pobladores.
	18 de marzo: El Jurado Electoral Especial de Lima Centro 1 abrió proceso de exclusión a la candidata presidencial Keiko Fujimori (Fuerza Popular) por infringir la Ley de Organizaciones Políticas que prohíbe la entrega de dádivas o regalos en campaña.

*/

/*
	-ELIGE BIEN es una web que fomenta la información a la ciudadanía sobre los temas de corrupción o aspectos poco éticos así como la trayectoria política de los candidatos a la presidencia de la república.
	-Nos enfocados en estos temas debido a la creciente preocupación de la población.
	-Información interactiva que visualiza la trayectoria política de los candidatos.
*/


/*
	BARNECHEA:


*/
body{
	 background-image: url(../img/bg1.jpg) !important;
	 background-opacity:0.2 !important;

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;

}




/***************************/
#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.jquery-script-center {
width: 960px;
margin: 0 auto;
}
.jquery-script-center ul {
width: 212px;
float:left;
line-height:45px;
margin:0;
padding:0;
list-style:none;
}
.jquery-script-center a {
	text-decoration:none;
}
.jquery-script-ads {
width: 728px;
height:90px;
float:right;
}
.jquery-script-clear {
clear:both;
height:0;
}


/*******************************/
* {
	margin: 0;
	padding: 0;
}

body {
	background: #222;
	font-family: Georgia, serif;
	color: #fff;
	font-size: 14px;
}

a {
	color: #ffffcc;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	a:hover,
	a.selected {
		color: #ffcc00;
	}

h1,h2,h4,h5,h6 {
	text-align: center;
	color: #ccc;
	text-shadow: #000 1px 1px 2px;
	margin-bottom: 5px;
}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 14px;
	}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
		width: 100%;
		height: 350px;
		overflow: hidden;
		margin: 50px auto;
		position: relative;
		background: url('../images/dot.gif') left 45px repeat-x;
	}
		#dates {
			width: 800px;
			height: 60px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 50px;
				font-size: 24px;
				text-align: center;
				background: url('../images/biggerdot.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 38px;
				}

		#issues {
			width: 800px;
			height: 350px;
			overflow: hidden;
		}
			#issues li {
				width: 800px;
				height: 350px;
				list-style: none;
				float: left;
			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
					margin: 10px 30px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out;
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: #ffcc00;
					font-size: 48px;
					margin: 20px 0;
					text-shadow: #000 1px 1px 2px;
				}
				#issues li p {
					font-size: 14px;
					margin-right: 70px;
					font-weight: normal;
					line-height: 22px;
					text-shadow: #000 1px 1px 2px;
				}

		#grad_left,
		#grad_right {
			width: 100px;
			height: 350px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
		        background: url('../images/grad_left.png') repeat-y;
			}
			#grad_right {
		        right: 0;
		        background: url('../images/grad_right.png') repeat-y;
			}

		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 170px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('../images/next.png');
			}
			#prev {
				left: 0;
				background-image: url('../images/prev.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}