<style>
	.thumbnail{
		box-shadow: 1px 1px 10px #000;
	}
	.thumbnail img{
		border-radius: 5px;
	}
</style>
<br>
<br>
<div class="row">
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="presidente in presidentes">
		<div class="thumbnail">
			<img ng-src="{{presidente.foto}}" style="height: 150px; display: block;">
			<div class="caption">
				<img ng-src="{{presidente.partidoImg}}" style="height: 40px;position: relative;float: left;top: -49px;left: -10px;">
			 	<!-- <h3>{{presidente.partido}}</h3> -->
				<!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
				<p>
					<!-- <a href="#" class="btn btn-primary" role="button">Detalles</a>  -->
					<!-- <a href="#" class="btn btn-default" role="button">Button</a> --></p>
			</div>
		</div>
	</div>
</div>