<div>
	<h1>PREGUNTAS FRECUENTES</h1>
	<h3>En estos procesos electorales existen muchas interrogantes que la gran mayoría de la población se hace:</h3 >

 <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div class="post-preview" style=" background: rgba(255, 255, 255, 0.5);">
                    
                        <h3 class="post-title">
                           ¿Cuál es la valla electoral aplicable a alianzas electorales?
                        </h3>
                        <h4 class="post-subtitle">
                            Según el actual texto de la Ley de Organizaciones Políticas, se indica que “De existir alianzas entre partidos o entre movimientos, dicho porcentaje se elevará en uno por ciento (1%) por cada partido o movimiento adicional, según corresponda”. Dado que esta modificación se introdujo con las elecciones ya convocadas y las alianzas inscritas, el Jurado Nacional de Elecciones deberá definir si esta regla se aplica. Para efectos prácticos, deberá ver si para Alianza Popular, Alianza Para el Progreso del Perú y Alianza Solidaridad Nacional se les aplica una valla de 5% o de 7% -en los dos primeros casos – y 6% en el último de los mencionados. Esto es un tema que el JNE deberá resolver con carácter urgente.
                        </h4>
                     </div>
                   <div class="post-preview" style=" background: rgba(255, 255, 255, 0.5);">
                    
                        <h3 class="post-title">
                           ¿Qué sucede si un candidato no pasa la valla electoral?
                        </h3>
                        <h4 class="post-subtitle">
                            La valla puede superarse de dos modos (basta cumplir uno). El primero, es que el partido alcance mínimo el 5% de los votos válidos para el Congreso de la República. Y el segundo es, teniendo al menos seis congresistas elegidos en más de una circunscripción electoral (por ejemplo cinco en Lima y uno en La Libertad). Si un partido político no llega a cumplir cualquiera de estos modos serán eliminados de la contienda electoral


                        </h4>
                    
                </div>
                                   <div class="post-preview" style=" background: rgba(255, 255, 255, 0.5);">
                    
                        <h3 class="post-title">
                           ¿Se pueden suspender o postergar las elecciones?
                        </h3>
                        <h4 class="post-subtitle">
                            No hay forma. Nuestras normas electorales son tan reglamentaristas que indican fecha exacta de nuestras elecciones presidenciales: “el segundo domingo del mes de abril”. De hecho, una de las causas por las cuáles se puede acusar a un Presidente de la República en el ejercicio de su mandato es “impedir las elecciones presidenciales, parlamentarias, regionales o municipales” (artículo 117° de la Constitución).
                            La única manera, casi imposible, que se hagan nuevos comicios es que se cumpla lo establecido en el artículo 184° de la Constitución: “El Jurado Nacional de Elecciones declara la nulidad de un proceso electoral, de un referéndum o de otro tipo de consulta popular cuando los votos nulos o en blanco, sumados o separadamente, superan los dos tercios del número de votos emitidos”. Esto nunca se ha producido en el Perú.
                        </h4>
                    
                </div>
                                   <div class="post-preview" style=" background: rgba(255, 255, 255, 0.5);">
                    
                        <h3 class="post-title">
                           ¿Hasta cuándo se puede excluir a un candidato presidencial o parlamentario?
                        </h3>
                        <h4 class="post-subtitle">
                            Hasta diez días antes de las elecciones, lo que genera incertidumbre en el proceso electoral hasta el final. De allí que sea necesario revisar a futuro la norma que permite la exclusión de un postulante si es que entrega dádivas en dinero o en especie, en forma directa o a través de un tercero. Esta revisión deberá tener en cuenta tanto la proporcionalidad de la sanción, como el efecto de incertidumbre que genera en los electores y en los propios candidatos.
                        </h4>
                    
                </div>
                                <div class="post-preview" style=" background: rgba(255, 255, 255, 0.5);">
                    
                        <h3 class="post-title">
                           ¿Se cuentan los votos nulos y viciados para la elección presidencial?
                        </h3>
                        <h4 class="post-subtitle">
                            Para efectos de saber cuántos ciudadanos votamos, sí. Pero, como indica la propia Ley Orgánica de Elecciones, “El Presidente y Vicepresidentes de la República son elegidos mediante sufragio directo, secreto y obligatorio en Distrito Electoral Único. Para ser elegidos se requiere haber obtenido más de la mitad de los votos válidos, sin computar los votos viciados y en blanco”.
                            Es decir, si alguien ejerce el legítimo derecho de votar en blanco o viciado, debe tener en cuenta que terminará reduciendo el universo de votos válidos, lo que beneficia a quienes se encuentran en los primeros lugares. Vean la encuesta de CPI: Keiko 37.6, PPK 15.3, Barnechea 11.7, Vero 9.3. Con votos válidos, sube así: Keiko 43.8, PPK 17.8, Barnechea 13.6, Vero 10.8.
                        </h4>
                    
                </div>
                
                                <div class="post-preview" style=" background: rgba(255, 255, 255, 0.5);">
                    
                        <h3 class="post-title">
                           ¿El voto electrónico me quita la oportunidad de viciar o votar en blanco?
                        </h3>
                        <h4 class="post-subtitle">
                            No. Existen dos casillas para optar por ambas alternativas. Lo que sí impide es la expresión de la creatividad mediante frases y dibujos.
                        </h4>
                    
                </div>
                              
                                 <div class="post-preview" style=" background: rgba(255, 255, 255, 0.5);">
                    
                        <h3 class="post-title">
                           ¿La valla electoral se cuenta a partir de los votos presidenciales?
                        </h3>
                        <h4 class="post-subtitle">
                            No. Como dice la Ley de Organizaciones Políticas, se requiere alcanzar “seis (6) representantes al Congreso en más de una circunscripción electoral o haber alcanzado al menos el cinco por ciento (5%) de los votos válidos a nivel nacional”. Es decir, 6 congresistas en dos distritos electorales – por ejemplo, Lima y Arequipa – o 5% en Congreso. El voto presidencial puede ayudar a un efecto de “arrastre” a favor de la lista parlamentaria, pero legalmente no determina nada.
                        </h4>
                    
                </div>
                
                               <div class="post-preview" style=" background: rgba(255, 255, 255, 0.5);">
                    
                        <h3 class="post-title">
                           ¿Cuál es la valla electoral aplicable a alianzas electorales?
                        </h3>
                        <h4 class="post-subtitle">
                            Según el actual texto de la Ley de Organizaciones Políticas, se indica que “De existir alianzas entre partidos o entre movimientos, dicho porcentaje se elevará en uno por ciento (1%) por cada partido o movimiento adicional, según corresponda”. Dado que esta modificación se introdujo con las elecciones ya convocadas y las alianzas inscritas, el Jurado Nacional de Elecciones deberá definir si esta regla se aplica. Para efectos prácticos, deberá ver si para Alianza Popular, Alianza Para el Progreso del Perú y Alianza Solidaridad Nacional se les aplica una valla de 5% o de 7% -en los dos primeros casos – y 6% en el último de los mencionados. Esto es un tema que el JNE deberá resolver con carácter urgente.
                        </h4>
                    
                </div>
                              
            </div>
        </div>
    </div>

