    <script>
        $(function(){
            $().timelinr({
                autoPlay: 'true',
                autoPlayDirection: 'forward'
            })
        });
    </script>
    <div style="    background: rgba(0, 0, 0, 0.74);    border-radius: 5px;">
    <div id="timeline">
        <ul id="dates">
            <li><a href="#1994">1994 - 2000</a></li>
            <li><a href="#2006">2006</a></li>
            <li><a href="#2006_2010">2006 - 2010</a></li>
            <li><a href="#2009_2010">1950</a>2009 - 2010</li>
            <li><a href="#2010">1971</a></li>
            <li><a href="#2016">1977</a></li>
        </ul>
        <ul id="issues">
            <li id="1994">
                <img src="images/1994.jpg" width="256" height="256" />
                <h1>1994-2000</h1>
                <p>Es elegida Primera dama</p>
            </li>
            <li id="2006">
                <img src="images/2006.png" width="256" height="256" />
                <h1>2006</h1>
                <p>Es elegida congresista de la República  por Lima.</p>
            </li>
            <li id="2006_2010">
                
                <h1>2006 - 2010</h1>
                <p> 
                    -2008: Informes sobre los plenos y sesiones de comisiones a las que no asistió durante los tres meses que estuvo fuera del país –entre enero y mayo de ese año–, Keiko Fujimori reporta 15 tardanzas a los plenos y tres inasistencias por licencias.

                    - Sueldo de un parlamentario es de S/.15,600 mensuales y recibe 16 remuneraciones al año, la líder de la bancada fujimorista habría recibido –solo por concepto de sueldo– S/.998,400 en los cuatro periodos de labor parlamentaria.

                    - Entre julio del 2006 y julio del 2010, viajó 18 veces al extranjero lo que ha representado 223 días fuera del país. Lo llamativo es que solo uno de esos viajes lo hizo en calidad de visita oficial a los Estados Unidos en julio de este año.

                    - Según reportes de asistencia del Congreso, su ausencia figura como licencia de representación cuando, en realidad, lo que hacía era culminar su maestría en la Columbia University, estudios que habría costeado con su sueldo de congresista de la República.)
                </p>
            </li>
            <li id="2009_2010">
                
                <h1>2009 - 2010</h1>
                <p>
                    - Durante el periodo legislativo 2009-2010 Keiko Fujimori solo asistió a siete sesiones de las 42 de la Comisión de Economía del Congreso, grupo de trabajo del cual es titular desde julio del 2006. Su participación fue casi nula, pues no presentó ningún proyecto de ley, solo suscribió uno de su colega de bancada Rolando Reátegui.

                    - Entre abril y junio del 2009 –legislatura 2008-2009– realizó seis pedidos de licencia para ausentarse de siete sesiones de la Comisión de Economía.
                    - 2010: Asistió tarde a dieciséis plenos de los veintinueve que se realizaron entre los meses de marzo y julio mientras que en otros tres reporta licencia por viajes al extranjero.

                    - La congresista presentó siete pedidos de licencia para no asistir a las sesiones de la Comisión de Economía. 
                </p>
            </li>
            <li id="2010">
                <img src="images/keiko2.jpg" width="256" height="256" />
                <h1>2010</h1>
                <p>
                    Forma y lidera como presidenta el partido político Fuerza 2011 (hoy Fuerza Popular) con el cual postula a la Presidencia de la República en las elecciones generales del 2011.
                </p>
            </li>
            <li id="2016">
                <img src="images/huaroc.jpg" width="256" height="256" />
                <img src="images/keiko.jpg" width="256" height="256" />

                <h1>2016</h1>
                <p> 
                    - 16 de marzo: JEE de Huancayo excluye a Vladimiro Huaroc como candidato al Congreso por entregar víveres a pobladores.

                    - 18 de marzo: El Jurado Electoral Especial de Lima Centro 1 abrió proceso de exclusión a la candidata presidencial Keiko Fujimori (Fuerza Popular) por infringir la Ley de Organizaciones Políticas que prohíbe la entrega de dádivas o regalos en campaña.
                </p>
            </li>
            
        </ul>
        <div id="grad_left"></div>
        <div id="grad_right"></div>
        <a href="#" id="next">+</a>
        <a href="#" id="prev">-</a>
    </div>
    </div>